Source: comgt
Section: net
Priority: optional
Maintainer: Andreas "Jimmy" Gredler <jimmy@grml.org>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.7
Homepage: http://www.pharscape.org/

Package: comgt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: gcom
Replaces: gcom
Description: Option GlobeTrotter and Vodafone datacard control tool
 Comgt is a scripting language interpreter useful for establishing
 communications on serial lines and through PCMCIA modems as well as
 GPRS and 3G datacards. Works with Option GlobeTrotter
 GPRS/EDGE/3G/HSDPA and Vodafone 3G/GPRS datacards.
